{% extends 'base.html.twig' %}

{% block body %}
    <h1>Elevesclasses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for elevesclasse in elevesclasses %}
            <tr>
                <td><a href="{{ path('elevesclasse_show', { 'id': elevesclasse.id }) }}">{{ elevesclasse.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('elevesclasse_show', { 'id': elevesclasse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('elevesclasse_edit', { 'id': elevesclasse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('elevesclasse_new') }}">Create a new elevesclasse</a>
        </li>
    </ul>
{% endblock %}
