{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ seance.duree }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{{ seance.heureDebut }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ seance.date }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seance_edit', { 'id': seance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
